body{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    width: 150px;
    
}
.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display:flex ;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-radius: 5px;
    border-bottom: 5px solid;
    
}
.border-blue{
    border-radius: 5px;
}